
*{/*el * representa todo*/
    margin: 28px;/*pixeles*/
}
body{
    background-color: rgb(143, 14, 14);
    font-family: tahoma;
}
h1 {
    padding: 10px;/*padin es generico*/
    border:15px;
    border-style: dashed; /*linea punteada dotted*/
    border-radius: 45px;
    color: rgb(255, 0, 136);
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
}
p{
    background-color: rgba(255, 81, 0, 0.527);
    color: rgb(251, 255, 0);
    text-align: justify;
}
img{/*poner atributos abajo*/
    width: 30%;
    /*height: 40%; se puede quedar tal cual*/
}
